
<div class="row">
  <div class="col-sm-12 align-middle">
    <div id="about-me" class="about-container ">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-dark-avatar card">
              <img class="card-img-top" src="assets/img/sticker.webp" alt="Card image cap">
              <div class="card-body">
                <div class="col-sm-12 text-center">
                  <a href="https://github.com/ccpinzon" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github social-network-icon"></i></a>
                  <a href="https://www.linkedin.com/in/ccpinzon/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin social-network-icon"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8" >
            <h1 class="headline-text text-center">About Me.</h1>
            <hr>
            <div class="card-dark card">
              <div class="card-body">
                <h5>Hello Friend. 👋🏻</h5>
                <br>
                I am a software engineer with a solid foundation in the backend stack, I spent a significant amount of time learning and understanding key concepts like Java, SQL / PLSQL, OOP, Python Scripting, Flask, GNU/Linux and much more.
                <br>
                Currently I am focused on mastering and improving my frontend skills.
                I use tools like Git, NPM, Angular, NodeJS, ionic, NestJS, TypeScript.
                I am comfortable using: Java, Python, SQL, NodeJS, JS, TS, Angular.
                I use many more tools, you can ask me if you want to know more.
              </div>
            </div>
          </div>
        </div>

<!--          <button type="button" class="btn btn-align" SmoothScroll [scrollTo]="'skills'" [duration]="500">-->
<!--            <i class="fa fa-chevron-down" style="color:#FFFFFF;"></i>-->
<!--          </button>-->


    </div>

  </div>
</div>



