<div id="home" class="home-container">

<div class="container">
  <div class="row justify-content-md-center">

      <div class="profile-photo-portrait">
        <img src="assets/img/profile_photo_protrait1.jpg"  alt="">
<!--        <i class="fa fa-terminal social-network-icon"></i>-->
      </div>

    <div class="col-sm-12">
      <div class="fakeScreen">
        <p class="line1">&#91;&nbsp;&ldquo;I'm Cristhian Rodriguez.&rdquo;,<span class="cursor1">_</span></p>
        <p class="line2">&nbsp;&nbsp;&ldquo;I'm a Software Enginner.&rdquo;,<span class="cursor2">_</span></p>
        <p class="line3">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
        <p class="line4">><span class="cursor4">_</span></p>
      </div>
    </div>
  </div>
</div>




</div>
