<div id="home" class="bg-dark home-container">


  <div class="fakeScreen">
    <div class="text-center">
      <img src="assets/img/coding.png" class="rounded img-fluid" >
    </div>

    <p class="line1">&#91;&nbsp;&ldquo;I'm a Cristhian Rodriguez.&rdquo;,<span class="cursor1">_</span></p>
    <p class="line2">&nbsp;&nbsp;&ldquo;I'm a Software Enginner.&rdquo;,<span class="cursor2">_</span></p>
    <p class="line3">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
    <p class="line4">><span class="cursor4">_</span></p>


    <div class="text-center">

    <button type="button" class="btn btn-bs-outline" SmoothScroll [scrollTo]="'about-me'" [duration]="500">
        <i class="fa fa-chevron-down" style="color:#FFFFFF;"></i>
      </button>
    </div>


  </div>



</div>
