<div class="float-button-container">
  <div class="open-button" *ngIf="buttonIsVisible" SmoothScroll [scrollTo]="'home'">
  </div>
<!--  <a href="#" alt="Notifications" title="Notifications"><div class="item02"></div></a>-->
<!--  <a href="#" alt="Search" title="Search"><div class="item03"></div></a>-->
<!--  <a href="#" alt="About-me" title="About-me" SmoothScroll [scrollTo]="'about-me'"><div class="item01"></div></a>-->
<!--  <a href="#" alt="My profile" title="My profile"><div class="item04"></div></a>-->
</div>
