<div id="skills" class="skills-container">
<div class="col-md-12">
  <h1 class="section-title">
    <span class="headline-text">Skills</span>
  </h1>


    <div class="row">
      <div class="col" >
        <h1 class="section-title">
          <span class="headline-text">language</span>
        </h1>
        <div class="text-center">
          <ul class="list-inline mx-auto skill-icon">

            <li *ngFor="let language of languages" class="list-inline-item mx-3">
              <span>
                <div class="skills-tile">
                  <i class="style-icons {{language.icon}}"
                     (mouseleave)="changeColorClass($event)"
                     [id]="language.icon"
                     [ngClass]="this.iconSelected === language.icon ? 'colored' : ''" (mouseover)="changeColorClass($event)">
                    <p class="style-icon">{{language.name}}</p>
                  </i>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col" >
        <h1 class="section-title">
          <span class="headline-text">Frameworks</span>
        </h1>
        <div class="text-center">
          <ul class="list-inline mx-auto skill-icon">

            <li *ngFor="let framework of frameworks" class="list-inline-item mx-3">
              <span>
                <div class="text-center skills-tile">
                  <i class="style-icons {{framework.icon}}"
                     (mouseleave)="changeColorClass($event)"
                     [id]="framework.icon"
                     [ngClass]="this.iconSelected === framework.icon ? 'colored' : ''" (mouseover)="changeColorClass($event)">
                    <p class="text-center style-icon">{{framework.name}}</p>
                  </i>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>

    </div>


      <div class="row">
        <div class="col" >
          <h1 class="section-title">
            <span class="headline-text">Bases de datos</span>
          </h1>
          <div class="text-center">
            <ul class="list-inline mx-auto skill-icon">

              <li *ngFor="let bd of bds" class="list-inline-item mx-3">
              <span>
                <div class="text-center skills-tile">
                  <i class="style-icons {{bd.icon}}"
                     (mouseleave)="changeColorClass($event)"
                     [id]="bd.icon"
                     [ngClass]="this.iconSelected === bd.icon ? 'colored' : ''" (mouseover)="changeColorClass($event)">
                    <p class="text-center style-icon">{{bd.name}}</p>
                  </i>
                </div>
              </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col" >
          <h1 class="section-title">
            <span class="headline-text">Cloud</span>
          </h1>
          <div class="text-center">
            <ul class="list-inline mx-auto skill-icon">

              <li *ngFor="let cloud of clouds" class="list-inline-item mx-3">
              <span>
                <div class="text-center skills-tile">
                  <i class="style-icons {{cloud.icon}}"
                     (mouseleave)="changeColorClass($event)"
                     [id]="cloud.icon"
                     [ngClass]="this.iconSelected === cloud.icon ? 'colored' : ''" (mouseover)="changeColorClass($event)">
                    <p class="text-center style-icon">{{cloud.name}}</p>
                  </i>
                </div>
              </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

