<div id="skills" class="skills-container">
<div class="col-md-12">
  <h1 class="section-title">
    <span class="text-white">Skills</span>
  </h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col" >
        <h1 class="section-title">
          <span class="text-white">language</span>
        </h1>
        <div class="text-center">
          <ul class="list-inline mx-auto skill-icon">
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-java-plain style-icons"  (mouseleave)="changeColorClass($event)" [ngClass]="colored" (mouseover)="changeColorClass($event)">
                  <p class="text-center style-icon">JAVA</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-javascript-plain colored style-icons">
                  <p class="text-center style-icon">JAVASCRIPT</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-typescript-plain colored style-icons">
                  <p class="text-center style-icon">TYPESCRIPT</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-python-plain colored style-icons">
                  <p class="text-center style-icon">PYTHON</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-ruby-plain colored style-icons">
                  <p class="text-center style-icon">RUBY</p>
                </i>
              </div>
            </span>
            </li>

          </ul>
        </div>
      </div>
      <div class="col" >
        <h1 class="section-title">
          <span class="text-white">Framework</span>
        </h1>
        <div class="text-center">
          <ul class="list-inline mx-auto skill-icon">
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-ionic-original style-icons">
                  <p class="text-center style-icon" >ionic</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-angularjs-plain style-icons">
                  <p class="text-center style-icon" >angular</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-spring-plain style-icons">
                  <p class="text-center style-icon" >Spring boot</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-nodejs-plain style-icons" >
                  <p class="text-center style-icon" >Node js</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-express-original style-icons">
                  <p class="text-center style-icon">Express</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-nestjs-plain style-icons">
                  <p class="text-center style-icon">nest js</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-flask-plain style-icons" >
                  <p class="text-center style-icon" >FLASK</p>
                </i>
              </div>
            </span>
            </li>
            <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-django-plain style-icons" >
                  <p class="text-center style-icon" >DJANGO</p>
                </i>
              </div>
            </span>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col" >
          <h1 class="section-title">
            <span class="text-white">Base de datos</span>
          </h1>
          <div class="text-center">
            <ul class="list-inline mx-auto skill-icon">
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-mongodb-plain style-icons">
                  <p class="text-center style-icon" >mongodb</p>
                </i>
              </div>
            </span>
              </li>
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-oracle-plain style-icons">
                  <p class="text-center style-icon" >oracle</p>
                </i>
              </div>
            </span>
              </li>
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-mysql-plain style-icons">
                  <p class="text-center style-icon" >mysql</p>
                </i>
              </div>
            </span>
              </li>

            </ul>
          </div>
        </div>
        <div class="col" >
          <h1 class="section-title">
            <span class="text-white">Cloud</span>
          </h1>
          <div class="text-center">
            <ul class="list-inline mx-auto skill-icon">
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-firebase-plain style-icons">
                  <p class="text-center style-icon" >firebase</p>
                </i>
              </div>
            </span>
              </li>
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-googlecloud-plain style-icons">
                  <p class="text-center style-icon" >google cloud</p>
                </i>
              </div>
            </span>
              </li>
              <li class="list-inline-item mx-3">
            <span>
              <div class="text-center skills-tile">
                <i class="devicon-digitalocean-plain style-icons">
                  <p class="text-center style-icon" >Digital ocean</p>
                </i>
              </div>
            </span>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>



</div>
