<div class="experience-container">
  <br>
  <h2 class="headline-text text-center">Experience</h2>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- The Timeline -->

  <ul class="timeline">

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Farmatodo</span>
          <span class="time-wrapper"><span class="time">2020 - Present</span></span>
          <span class="time-wrapper"><span class="time2">Backend Tech Lead</span></span>
        </div>
        <div class="desc">Lead the Backend development team, develop tasks and user stories to company and mentoring other team members.</div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Farmatodo</span>
          <span class="time-wrapper"><span class="time">2019 - 2020</span></span>

          <span class="time-wrapper"><span class="time2">Sr Backend Developer</span></span>
        </div>
        <div class="desc">Support in the new microservices architecture in GCP, performing the design,
          implementation and creation of the base project. design, implementation and creation of the base project.
        </div>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Farmatodo</span>
          <span class="time-wrapper"><span class="time">2018 - 2019</span></span>

          <span class="time-wrapper"><span class="time2">Jr Backend Developer</span></span>
        </div>
        <div class="desc">Backend developer of the domicile platform, using serverless architecture in Google Cloud (App Engine).</div>
      </div>
    </li>

    <!-- Item 4 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Stefanini</span>
          <span class="time-wrapper"><span class="time">2017 - 2018</span></span>
          <span class="time-wrapper"><span class="time2">Jr Backend Developer</span></span>
        </div>
        <div class="desc"> In charge of the migration of Databases and Access Modules to Java EE Web, Java Server Faces and Oracle.
        </div>
      </div>
    </li>

    <!-- Item 5 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">KnowLine</span>
          <span class="time-wrapper"><span class="time">2017- 2018</span></span>
          <span class="time-wrapper"><span class="time2">Backend/Android Dev</span></span>
        </div>
        <div class="desc">
          Build an algorithm for distance calculation, necessary for the application to recognize nearby points, for Android Native APP.
        </div>
      </div>
    </li>

    <!-- Item 6 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">UPTC</span>
          <span class="time-wrapper"><span class="time">2016 - 2017</span></span>
          <span class="time-wrapper"><span class="time2">Programming Assistant</span></span>
        </div>
        <div class="desc"> Work as a monitor in the area of advanced programming for university students, helping to solve computational problems.
        </div>
      </div>
    </li>


  </ul>
</div>

